<!DOCTYPE html>
<html lang="en">
<head>
  <title>Krista's Portfolio</title>
</head>
<body>

  <div class="header">
    <div class="hLinks">
      <%= link_to "Back to Top", root_path(anchor: "#toplink") %>
      <%= link_to "About Me", root_path(anchor: "#aboutmelink") %>
      <%= link_to "Portfolio", root_path(anchor: "#portfoliolink") %>
      <%= link_to "Contact Me", root_path(anchor: "#contactlink") %>
    </div>
  </div>
  

  <div id="%23toplink"></div>
  <div class="jumbotron">
    <div class="wrapper">
      <div class="wrappert">
        <div class="greeting" style="font-family:serif;font-style:italic;">
          <div><h1 class="heya">Hello!</h1>
            <div><p class="heya1">Welcome to my profile site.Bg</p>
            </div>
          </div>     
        <img src="http://www.jegedeinvestment.com/wp-content/uploads/2012/11/everythings-waiting-for-you.jpg" class="bg" />           
        </div>
      </div>
    </div>
  </div>
  

  <div id="%23aboutmelink"></div>
  <div class="aboutMe BgMe">
    <div class="container">
      <div class="aboutBox">
        <div class="aboutTxt">
          <h1 style="margin:30px auto;" class="h1Links">About Me</h1>
          <br/>
          <p style="font-size:20px; color: #000;">My name is Krista, and I am currently learning web development via FreeCodeCamp, and Codecademy PRO. So far I have learned HTML and CSS, and have dabbled in JavaScript and JQuery. I still have a long way to go, but the journey is exciting!</p>
          <p style="font-size:20px; color: #000;">My current goal is to get a position where I have the opportunity to learn from and work with experienced developers.</p>
        </div>
      </div>
    </div>
     
  </div>


  <div id="%23portfoliolink"></div>
  <div class="portfolio">
    <div class="portfolioTxt">
      <h1 style="margin:30px auto 75px;" class="h1Links" style="color:#F9D1F2; text-shadow: 1px 1px #441F13;">My Portfolio:</h1>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-4"><div class="portThumb"><img class="img-responsive center-block" src="http://i.imgur.com/N7sSRnq.jpg" alt="Vet Ranch Tribute Site"></div></div>
          <div class="col-xs-6 col-md-4"><div class="portThumb"><p>Coming Soon</p></div></div>
          <div class="col-xs-6 col-md-4"><div class="portThumb"><p>Coming Soon</p></div></div>
        </div>
      </div>
    </div>
  </div>


  <div id="%23contactlink"></div>
  <div class="contact">
    <div class="contactTxt">
      <h1 class="h1Links">Contact Me</h1>
    </div>
  </div>
  
</body>
</html>