<!DOCTYPE html>
<html lang="en">
<head>
  <title>Krista's Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container">

    <div class="name">
      <h1>Krista Laffrenier</h1>
      <p>Web Delevoper.</p>
        <%= link_to '<i class="fa fa-bitbucket" aria-hidden="true"></i>'.html_safe, "https://bitbucket.org/Kr1sta/", { style: "color:white", target: :_blank} %>
        <%= link_to '<i class="fa fa-github-alt" aria-hidden="true"></i>'.html_safe, "https://github.com/Kr1sta", { style: "color:white;margin:10px", target: :_blank} %>
        <%= link_to '<i class="fa fa-envelope" aria-hidden="true"></i>'.html_safe, "google.com", { style: "color:white", target: :_blank} %>
    </div>

  <div class="content">
    <div class="sample">
      
    </div>
  </div>

  </div>

</body>
</html>