@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc */
$sea: #3FB7A8;
$sea-opaque: #8CCEC6;
$sea-dark: #69B3AB;
$slate: #474747;

$pink: #E88BBB;
$pink-opaque: #EFA3CA;

body {
  background: image-url('brickwall.png');
}

.container {
  width: 80%;
  margin: 0px auto;
}

.name {
  background-color: $sea;
  opacity: 0.55;
  height: 250px;
  width: 85%;
  color: #fff;
  text-align: center;
  margin: 0px auto;
  h1 {
    padding-top: 75px;
    font-size: 50px;
    margin-bottom: 10px;
  }
  p {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.aboutMe {
  min-height: 50px;
  margin: 15px auto;
  text-align: center;
  opacity: 0.55;
  background-color: $pink;
  width: 85%;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  p {
    margin: 0px;
    padding: 15px;
  }
}

.content {
  background-color: $sea-opaque;
  opacity: 0.95;
  width: 85%;
  margin: 15px auto;
  text-align: center;
  overflow: auto;
}

.img-box {
  width: 95%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  background-color: $sea-dark;
}

.site-img {
  width: 45%;
  height: 100px;
  margin: 5px auto;
  object-fit: cover;
  display: inline-block;
}


