@import "font-awesome-sprockets";
@import "font-awesome";

/* MIXINS, VARIABLES, ETC */

$sea: #3FB7A8;
$sea-opaque: #8CCEC6;
$sea-dark: #69B3AB;

$orange: #F18327;
$pink: #D869A3;
$pink-opaque: #EFA3CA;

/* GLOBAL */

body {
  background: image-url('brickwall.png');
}

.container {
  width: 80%;
  margin: 0px auto;
}

/* INTRODUCTION */

.name {
  background-color: $sea;
  opacity: 0.60;
  height: 250px;
  width: 85%;
  color: #fff;
  text-align: center;
  margin: 35px auto 0px;
  h1 {
    padding-top: 75px;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  p {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

/*  ABOUT ME */

.aboutMe {
  margin: 15px auto;
  text-align: center;
  background-color: $orange;
  opacity: 0.55;
  width: 85%;
  color: #fff;
  font-size: 18px;
  p {
    margin: 0px;
    padding: 30px 100px;
    font-family: sans-serif;
    font-weight: 100;
  }
}

/* PORTFOLIO PIECES */

.content {
  background-color: $sea-opaque;
  opacity: 0.95;
  width: 85%;
  margin: 15px auto 35px;
  text-align: center;
  overflow: auto;
}

.img-box {
  width: 95%;
  margin: 25px auto;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: $sea-dark;
}

.app-img {
  width: 45%;
  height: 100px;
  margin: 5px auto;
  object-fit: cover;
  display: inline-block;
}

.app-explanation {
  width: 80%;
  margin: 10px auto;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
}

