@import "font-awesome-sprockets";
@import "font-awesome";


body {
  background-image: url('az_subtle_@2X.png');
}

.container {
  width: 80%;
  margin: 0px auto;
}

.name {
  background-color: #b3e6ff;
  height: 225px;
  width: 80%;
  color: #fff;
  text-align: center;
  margin: 0px auto;
  h1 {
    padding-top: 50px;
    font-size: 50px;
    margin-bottom: 10px;
  }
  p {
    margin: 0px;
  }
  ul {
    padding: 0px;
    margin: 4px;
    li {
      list-style: none;
      display: inline-block;
      margin: 0px 8px;
      a {
        color: #fff;
      }
    }
  }
}